.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

.panel-heading {
  padding: 10px 0px 10px 15px;
}

.btn{
  border-radius: 0px;
}

.btn-default {
    color: #777;
    background-color: #f5f5f5;
    border-color: rgba(255, 253, 253, 0);
    border-top-color: #dddddd;
		padding: 9px 12px 7px 12px;
}
.clickable{
  position: relative;
  top: -9px;
}

.glyphicon {
    top: 2px;
}
.panel {
    margin-bottom: 0px;
}
.error-close{
	background-color: #f2dede;
	color: #b94a48;
}
.btn.error-close:focus, .btn.error-close:active:focus, .btn.error-close:active, .btn.error-close:hover{
	background-color: #f2dede;
	border-color: #f2dede;
}
